@model FiapApi.Models.AddUserViewModel

<!DOCTYPE html>

<html>
<head>
    <title>Criar usuário</title>
</head>
<body>

<form method="post">
    <div class="mt-3">
        <label class="form-label">Nome</label>
        <input type="text" class="form-control" name="Name" asp-for="Name" required/>
    </div>
    <div class="mt-3">
        <label class="form-label">Email</label>
        <input type="email" class="form-control" name="Email" asp-for="Email" required/>
    </div>
    <div class="mt-3">
        <label class="form-label">Chave</label>
        <input type="text" class="form-control" name="Key" asp-for="Key" required/>
    </div>
    <div class="mt-3">
        <label class="form-label">Nível</label>
        <input type="text" class="form-control" name="Role" asp-for="Role" required/>
    </div>
    <div class="mt-3">
        <label class="form-label">Senha</label>
        <input type="password" class="form-control" name="Password" asp-for="Password" required/>
    </div>
    <div class="mt-3">
        <button type="submit" class="btn btn-primary">Salvar</button>
    </div>
</form>
</body>
</html>