@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Olá</h1>
    <p>Para ver e interagir com os usuários do sistema, clique <a href="/Users/List">clique neste link ou no item "Usuários" da barra de navegação.</a>.</p>
    <p>Para ver as coletas de lixo agendadas, clique <a href="/Coletas/List">clique neste link ou no item "Coletas" da barra de navegação.</a>.</p>
</div>